<div th:fragment="head">
	<head>
		<meta charset="UTF-8">
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	</head>
</div>

<div th:fragment="menu">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Pokédex</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link active" aria-current="page" href="#">Home</a>
		        <a class="nav-link" href="#">Pokémon</a>
		        <a class="nav-link" href="#">Types</a>
		        <a class="nav-link" href="#">Moves</a>
		      </div>
		    </div>
		  </div>
		</nav>
	</header>
</div>