<div th:fragment="tableType">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Effective against</th>
	      <th scope="col">Not effective against</th>
	      <th scope="col">No effect against</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<th:block th:each="type:${types}">
	  		<tr>
		      <th scope="row" th:text="${type.name}"></th>
		      <td><div th:text="${type.toStringEffectiveTypes}"></div> (<a th:href="@{/PokemonApp/types/{id}/effectiveType(id=${type.id})}">Edit</a>)</td>
		      <td><div th:text="${type.toStringNotEffectiveTypes}"></div> (<a th:href="@{/PokemonApp/types/{id}/notEffectiveType(id=${type.id})}">Edit</a>)</td>
		      <td><div th:text="${type.toStringNoEffectTypes}"></div> (<a th:href="@{/PokemonApp/types/{id}/noEffectType(id=${type.id})}">Edit</a>)</td>
		      <td><a role="button" class="btn btn-info" th:href="@{/PokemonApp/types/update/{id}(id=${type.id})}">
		      	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
				  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
				</svg>
		      </a></td>
		      <td><a role="button" class="btn btn-danger" th:href="@{/PokemonApp/types/delete/{id}(id=${type.id})}">
		      	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
				  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
				  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
				</svg>
		      </a></td>
		    </tr>
	  	</th:block>
	  </tbody>
	</table>
</div>

<div th:fragment="tableRelatedType">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<th:block th:each="type:${relatedTypes}">
	  		<tr>
		      <th scope="row" th:text="${type.name}"></th>
		      <td><a role="button" class="btn btn-danger" th:href="@{/PokemonApp/{entityBase}/{id}/{column}/delete/{idRelated}(entityBase=${entityBase}, id=${idType},idRelated=${type.id},column=${column})}">
		      	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
				  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
				  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
				</svg>
		      </a></td>
		    </tr>
	  	</th:block>
	  </tbody>
	</table>
</div>

<div th:fragment="tableRelatedMove">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<th:block th:each="move:${relatedMoves}">
	  		<tr>
		      <th scope="row" th:text="${move.name}"></th>
		      <td><a role="button" class="btn btn-danger" th:href="@{/PokemonApp/{entityBase}/{id}/{column}/delete/{idRelated}(entityBase=${entityBase}, id=${idType},idRelated=${move.id},column=${column})}">
		      	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
				  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
				  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
				</svg>
		      </a></td>
		    </tr>
	  	</th:block>
	  </tbody>
	</table>
</div>

<div th:fragment="tableMove">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Type</th>
	      <th scope="col">Category</th>
	      <th scope="col">Power</th>
	      <th scope="col">Accuracy</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<th:block th:each="move:${moves}">
	  		<tr>
		      <th scope="row" th:text="${move.name}"></th>
		      <td><div th:text="${move.toStringTypes}"></div> (<a th:href="@{/PokemonApp/moves/{id}/types(id=${move.id})}">Edit</a>)</td>
		      <td th:text="${move.category.getValue}"></td>
		      <td th:text="${move.power}"></td>
		      <td th:text="${move.accuracy}"></td>
		      <td><a role="button" class="btn btn-info" th:href="@{/PokemonApp/moves/update/{id}(id=${move.id})}">
		      	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
				  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
				</svg>
		      </a></td>
		      <td><a role="button" class="btn btn-danger" th:href="@{/PokemonApp/moves/delete/{id}(id=${move.id})}">
		      	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
				  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
				  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
				</svg>
		      </a></td>
		    </tr>
	  	</th:block>
	  </tbody>
	</table>
</div>

<div th:fragment="tablePokemon">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Description</th>
	      <th scope="col">Height</th>
	      <th scope="col">Weight</th>
	      <th scope="col">Gender</th>
	      <th scope="col">Type</th>
	      <th scope="col">Category</th>
	      <th scope="col">Learned moves</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<th:block th:each="pokemon:${pokemon}">
	  		<tr>
		      <th scope="row" th:text="${pokemon.name}"></th>
		      <td th:text="${pokemon.description}"></td>
		      <td th:text="${pokemon.height}"></td>
		      <td th:text="${pokemon.weight}"></td>
		      <td th:text="${pokemon.gender.getValue}"></td>
		      <td><div th:text="${pokemon.toStringTypes}"></div> (<a th:href="@{/PokemonApp/pokemon/{id}/types(id=${pokemon.id})}">Edit</a>)</td>
		      <td th:text="${pokemon.category}"></td>
		      <td>- (<a th:href="@{/PokemonApp/pokemon/{id}/moves(id=${pokemon.id})}">Edit</a>)</td>
		      <td><a role="button" class="btn btn-info" th:href="@{/PokemonApp/pokemon/update/{id}(id=${pokemon.id})}">
		      	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
				  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
				</svg>
		      </a></td>
		      <td><a role="button" class="btn btn-danger" th:href="@{/PokemonApp/pokemon/delete/{id}(id=${pokemon.id})}">
		      	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
				  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
				  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
				</svg>
		      </a></td>
		    </tr>
	  	</th:block>
	  </tbody>
	</table>
</div>